<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <p>Register</p>
        <input type="text" required name="name" id="name" placeholder="Please type your name">
        <input type="text" required name="email" id="email" placeholder="Please type your Email">
        <input type="number" name="age" id="age" placeholder="Please type your age"><br><br>
        <input id="submit" type="submit">
    </form>

    <% users.forEach(user => { %>
        <li>
            <p><%= user.name %></p>
            <p><%= user.email %></p>
            <p><%= user.age %></p>
            <button>Update</button>
            <button>Delete</button>
        </li>

    <% }) %>

    <script src="script.js"></script>

</body>
</html>