<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <p>Product</p>
        <input type="text" required name="name" id="name" placeholder="Please type name of product">
        <input type="number" required name="price" id="price" placeholder="Please type price of product">
        <input type="text" name="image" id="image" placeholder="Please type image URL of product">
        <input type="text" name="uuid" id="uuid" placeholder="Please type UUID of product">
        <input type="description" name="description" id="description" placeholder="Please type description of product"><br>

        <input id="submit" type="submit">
    </form>
</body>
</html>
